<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head") %>
    <title>Edit Designer</title>
</head>
<body>
    <h1>Edit designer</h1>
    <form action="/designers/<%= designer.id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Designer name</label>
            <input type="text" id="name" name="designer[name]" value="<%= designer.name %>" required>
        </div>
        <div>
            <label for="country">Designer country</label>
            <input type="text" id="country" name="designer[country]" value="<%= designer.country %>">
        </div>
        <button>Submit</button>
    </form>
    <a href="/designers/<%= designer.id %>">Cancel</a>
</body>
</html>