<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/temp.css"> 
    <title>SHOW PAGE FOR DESIGNER</title>
</head>
<body>
    <h1><%= designer.name %><%= designer.country ? ` - ${designer.country}` : "" %></h1>
    <a href="/designers">Back to all</a>
    <div class="temp-container">
        <p><a href="/designers/<%= designer.id %>/edit">Edit</a></p>
        <!-- <p><a href="">Delete</a></p> -->
    </div>
    <h2>Designed games:</h2>
    <% for (let bg of designer.boardgames) { %>
        <div class="temp-container">
            <p><%= bg.name %></p>
            <p><%= bg.description %></p>
            <p><a href="/boardgames/<%= bg.id %>">View</a></p>
        </div>
    <% } %>
</body>
</html>