<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head") %>
    <title>Add new Boardgame</title>
</head>
<body>
    <div class="row">
        <h1>Edit Boardgame</h1>
        <form action="/boardgames/<%= game.id %>?_method=PUT" method="POST">
            <div>
                <label for="name">Boardgame name:</label>
                <input type="text" id="name" name="boardgame[name]" value="<%= game.name %>">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea name="boardgame[description]" id="description"><%= game.description %></textarea>
            </div>
            <div>
                <label for="">Price:</label>
                <input type="number" step="any" id="price" name="boardgame[price]" value="<%= game.price %>">
            </div>
            <div>
                <label for="category">Category</label>
                <select name="boardgame[category]" id="category">
                    <% for(let categ of BGCategories) { %>
                        <option value="<%= categ %>" <%= game.category===categ ? "selected" : "" %>><%= categ %></option>
                    <% } %>
                </select>
            </div>
            <div>
                <label for="image">Image SRC:</label>
                <input type="text" name="boardgame[imagesrc]" id="image" value="<%= game.imagesrc %>">
            </div>
            <div>
                <label for="stock">Stock:</label>
                <input type="number" step="1" min="0" id="stock" name="boardgame[stock]" value="<%= game.stock %>">
            </div>
            <div>
                <label for="rating">Rating:</label>
                <input type="number" step="1" min="0" max="5" id="rating" name="boardgame[rating]" value="<%= game.rating %>">
            </div>
            <div>
                <label for="players">Players:</label>
                <div id="players">
                    <label for="minplayers">Min:</label>
                    <input type="number" step="1" min="1" id="minplayers" name="boardgame[minplayers]" value="<%= game.minplayers %>">
                    <label for="maxplayers">Max:</label>
                    <input type="number" step="1" min="1" id="maxplayers" name="boardgame[maxplayers]" value="<%= game.maxplayers %>">
                </div>
            </div>
            <div>
                <label for="age">Age:</label>
                <input type="number" step="1" id="age" name="boardgame[age]" value="<%= game.age %>">
            </div>
            <button>Submit</button>
        </form>
        <a href="/boardgames/<%= game.id %>">Cancel</a>
    </div>
</body>
</html>