<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head") %>
    <%- include("../../partials/tomselect") %>
    <title>Add new Boardgame</title>
</head>
<body>
    <div class="row">
        <h1>New Boardgame</h1>
        <form action="/boardgames" method="POST">
            <div>
                <label for="name">Boardgame name:</label>
                <input type="text" id="name" name="boardgame[name]">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea name="boardgame[description]" id="description"></textarea>
            </div>
            <div>
                <label for="">Price:</label>
                <input type="number" step="any" id="price" name="boardgame[price]">
            </div>
            <div>
                <label for="category">Category</label>
                <select name="boardgame[category]" id="category">
                    <% for(let categ of BGCategories) { %>
                        <option value="<%= categ %>"><%= categ %></option>
                    <% } %>
                </select>
            </div>
            <div>
                <label for="image">Image SRC:</label>
                <input type="text" name="boardgame[imagesrc]" id="image">
            </div>
            <div>
                <label for="stock">Stock:</label>
                <input type="number" step="1" min="0" id="stock" name="boardgame[stock]">
            </div>
            <div>
                <label for="players">Players:</label>
                <div id="players">
                    <label for="minplayers">Min:</label>
                    <input type="number" step="1" min="1" id="minplayers" name="boardgame[minPlayers]">
                    <label for="maxplayers">Max:</label>
                    <input type="number" step="1" min="1" id="maxplayers" name="boardgame[maxPlayers]">
                </div>
            </div>
            <div>
                <label for="age">Age:</label>
                <input type="number" step="1" id="age" name="boardgame[age]">
            </div>
            <div>
                <label for="publisher">Publisher:</label>
                <select name="publisherId" id="publisher" placeholder="Select a publisher...">
                    <option value="">Select a publisher...</option>
                    <% for(let publisher of allPublishers) { %>
                        <option value="<%= publisher.id %>"><%= publisher.name %></option>
                    <% } %>
                </select>
            </div>
            <div>
                <label for="designer">Designer(s):</label>
                <select name="designerIds[]" id="designer" placeholder="Select designers (max 3)" multiple>
                    <option value="">Select designers (max 3)</option>
                    <% for(let designer of allDesigners) { %>
                        <option value="<%= designer.id %>"><%= designer.name %></option>
                    <% } %>
                </select>
            </div>
            <button>Submit</button>
        </form>
        <a href="/boardgames">Cancel</a>
    </div>
    <script>
        new TomSelect("#publisher", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });

        new TomSelect("#designer", {
            maxItems: 3
        });
    </script>
</body>
</html>