<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head") %>
    <title>Game Show Page</title>
</head>
<body>
    <a href="/boardgames">Back to all</a>
    <div>
        <figure>
            <img src="<%= game.imagesrc %>" alt="">
        </figure>
        <h5><%= game.name %></h5>
        <p><%= game.description %></p>
        <p><%= game.price %></p>
        <p><%= game.category %></p>
        <p><%= game.minPlayers %> to <%= game.maxPlayers %> players</p>
        <p>Playtime: <%= game.minPlaytime %> - <%= game.maxPlaytime %> min</p>
        <p><%= game.age %>+</p>
        <p><%= game.releaseYear %></p>
        <p>
            Designed by 
            <%= game.creators
                .filter(c => c.type === "designer")
                .map(c => c.name)
                .join(", ") %> 
            and published by 
            <%= game.creators.find(c => c.type === "publisher")?.name || "Unknown" %>
        </p>
        <% if (game.isExpansion) { %>
            <p>This item is a game expansion. You need the base game in order to play it.</p>
        <% } %>
    </div>
    <a href="/boardgames/<%= game.id %>/edit">Edit</a>
    <a href="/boardgames">Back to all</a>
    <form action="/boardgames/<%= game.id %>?_method=DELETE" method="POST">
        <button>Delete Boardgame</button>
    </form>
    <hr>
    <!-- <h3>Leave a review:</h3> -->
    
    <!-- <form action="/boardgames/<%= //game.id %>/reviews" method="POST">
        <div>
            <label for="rating">Rating:</label>
            <input type="range" name="review[rating]" id="rating" min="1" max="5">
        </div>
        <div>
            <label for="review-body">Review</label><br>
            <textarea name="review[body]" id="review-body" cols="30" rows="3" placeholder="Leave your review here"></textarea>
        </div>
        <button>Submit</button>
    </form> -->
    <div>
        
        <% for (let review of (game.Reviews ?? [])) { %>
            <hr>
            <h4> <%= review.rating %> stars: </h4>
            <p> <%= review.body %> </p> <br>
            <form action="/boardgames/<%= game.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
                <button>DELETE</button>
            </form>
            <hr>
        <% } %>
        
    </div>
</body>
</html>